version: '3'

services:
  postgres:
    image: 'postgres:10.4-alpine'
    restart: always
    environment:
      - POSTGRES_PASSWORD=password
    ports:
      - '5432:5432'

  redis:
    image: 'redis:latest'

  api:
    image: dornick/complex-server
    depends_on:
      - postgres
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    volumes: 
      - /app/node_modules
      - ./server:/app
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - PGUSER=postgres
      - PGHOST=postgres
      - PGDATABASE=postgres
      - PGPASSWORD=password
      - PGPORT=5432

  client:
    image: dornick/complex-client
    stdin_open: true
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    volumes: 
      - /app/node_modules
      - ./client:/app

  worker:
    image: dornick/complex-worker
    build:
      context: ./worker
      dockerfile: Dockerfile.dev
    volumes: 
      - /app/node_modules
      - ./worker:/app
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379

  proxy:
    image: dornick/complex-nginx
    restart: always
    depends_on:
      - api
      - client
    build:
      dockerfile: Dockerfile.dev
      context: ./nginx
    ports:
      - '3050:80'
